* {
	margin: 0;
	padding: 0;
}

body {
	background: #4ECDC4;
	color: #000;
	font-family: 'Roboto', sans-serif;
}

.contenedor {
	width: 90%;
	max-width: 1000px;
	margin: 20px auto;
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(4, auto);

	grid-template-areas: "header header header"
						 "contenido contenido sidebar"
						 "widget-1 widget-2 sidebar"
						 "footer footer footer";
}

.contenedor > div,
.contenedor .header,
.contenedor .contenido,
.contenedor .sidebar,
.contenedor .footer {
	background: #fff;
	padding: 20px;
	border-radius: 4px;
}

.contenedor .header {
	background: #9395D3;
	color: #fff;
	grid-area: header;
}
.contenedor .contenido {
	grid-area: contenido;
	color: #000;
}

.contenedor .sidebar {
	grid-column: 3 / 4;
	background: #FFE66D;
	text-align: left;
	display: flex;
	align-items: left;
	justify-content: center;
	min-height: 100px;
	grid-area: sidebar;
}

.contenedor .widget-1,
.contenedor .widget-2 {
	background: #55a8fd;
	color: #fff;
	height: 100px;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}


.contenedor .footer {
	background: #a3d2f1;
	color: #292F36;
	align-items: center;
	grid-area: footer;
	align-content: center;
}

@media screen and (max-width: 768px){
	.contenedor {
		grid-template-areas: "header header header"
						 "contenido contenido contenido"
						 "sidebar sidebar sidebar"
						 "widget-1 widget-1 widget-2"
						 "footer footer footer";
	}
}
.imgRedonda {
	width: 285px;
    height:300px;
    border-radius:150px;
	box-align: text-top;
}
.table{
	border-spacing: 10px;
	border-collapse: separate;

}